@use "./variables.scss" as v;

// Breakline animation
@keyframes breaklineSlide {
    from {
        transform: translate(0, -50%) scale(2);
    } 
    to {
        transform: translate(-28.7%, -50%) scale(2);
    }
}

@keyframes breaklineSlideFull {
    from {
        transform: translate(0, -50%) scale(2);
    } 
    to {
        transform: translate(-33.5%, -50%) scale(2);
    }
}

// Infinite slide animation
@keyframes slide {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(-50%);
    }
}

// Curtain logo rotate animation
@keyframes rotate {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateLong {
    0% {
        transform: rotate(0deg);
    } 
    50% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes curtainOpen {
    to {
        margin-left: 100%;
    }
}

@keyframes curtainOpenLong-lg {
    0% {
        margin-left: 100%;
    }
    50% {
        margin-left: -80%;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes curtainOpenLong-md {
    0% {
        margin-left: 100%;
    }
    50% {
        margin-left: -140%;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes curtainOpenLong-sm {
    0% {
        margin-left: 100%;
    }
    50% {
        margin-left: -200%;
    }
    100% {
        margin-left: 100%;
    }
}

* {
    font-synthesis: none;
}

html {
    font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

body {
    overflow: hidden;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    padding: 160px v.$margin-mobile 0;

    &--home {
        padding: 0 v.$margin-mobile;
    }

    @media only screen and (min-width: v.$lg) {
        padding: 160px v.$margin-desktop 0 ;

        &--home {
            padding: 0 v.$margin-desktop;
        }
    }
}

.loaderscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
}

.curtain {
    &__container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 300%;
        margin-left: -200%;
        height: 100%;
        background-color: v.$yellow;
        z-index: 20000;
        overflow: hidden;
        border-radius: 100vw 0 0 100vw;
        align-items: center;

        @media only screen and (min-width: v.$md) {
            width: 240%;
            margin-left: -140%;
        }

        @media only screen and (min-width: v.$lg) {
            width: 180%;
            margin-left: -80%;
        }
        

        &__logo {
            height: 95vh;
            margin-left: 5vh;

            @media only screen and (min-width: v.$lg) {
            }
        }
    }
}

.navbar {
    &__carousel {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 25px;
        display: flex;
        z-index: 100;
        animation: 15s slide infinite linear;
        font-size: 0.94rem;

        &__section {
            min-width: 380px;
            width: 33.3333vw;
            
            margin: 0;
            padding: 2px;
            text-align: center;
            font-family: 'Poppins-Semibold';
            letter-spacing: 7.5px;

            &--blue {
                background-color: v.$blue;
            }

            &--red {
                background-color: v.$red;
            }

            &--green {
                background-color: v.$green;
            }
        }
    }

    &__mobilemenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('/assets/yellow_noise.jpg');
        z-index: 50;
        padding: 0px v.$margin-mobile 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;

        @media only screen and (min-width: v.$lg) {
            display: none;
        }

        div {
            display: flex;
            gap: 15px;
            margin-top: 40px;

            @media only screen and (min-width: v.$md) {
                gap: 25px;
            }

            a svg {
                width: 34px;
                height: 34px;
                transition: all .15s ease-out;

                @media only screen and (min-width: v.$md) {
                    width: 40px;
                    height: 40px;
                }

                &:hover {
                    margin-top: -3px;
                    margin-bottom: 3px;
                }
            }
        }
    }

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: v.$yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 500;
        margin-top: 25px;
        padding: 8px v.$margin-mobile;
        transition: all .2s ease-in-out;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 20%);

        @media only screen and (min-width: v.$lg) {
            margin-top: 25px;
            padding: 8px v.$margin-desktop;
        }

        &__logo {
            width: 75px;
            margin-bottom: -30px;
            transition: all .2s ease-in-out;

            @media only screen and (min-width: v.$lg) {
                width: 95px;
                margin-bottom: -63.5px;
            }

            &--small {
                width: 55px;
                margin-bottom: 0px;
                transition: all .2s ease-in-out;
            }
        }
    }

    &__buttoncontainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        padding: 5px 0px;  

        @media only screen and (min-width: v.$lg) {
            gap: 45px;
        }


        &__button {
            display: none;
            font-size: 2.25rem;
            text-decoration: none;
            color: black;
            font-family: 'Lilita One';

            @media only screen and (min-width: v.$md) {
                font-size: 3rem;
            }

            @media only screen and (min-width: v.$lg) {
                display: block;
                font-size: 2rem;
            }
    
            &--right:hover {
                transform: rotate(-4deg) scale(1.1);
                -webkit-transform: rotate(-4deg) scale(1.1);
                -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55), -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
            }
            
    
            &--left:hover {
                transform: rotate(4deg) scale(1.1);
                -webkit-transform: rotate(4deg) scale(1.1);
                -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55), -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
            }
    
            &--right, &--left {
                &:not(:hover) {
                    transform: rotate(0deg) scale(1);
                    -webkit-transform: rotate(0deg) scale(1);
                    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                    transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                    transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                    transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55), -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                }
            }
            
        }
    }

    &__langcontainer {
        display: flex;
        gap: 10px;

        @media only screen and (min-width: v.$lg) {
            flex-direction: column;
        }

        &__button {
            font-family: 'Lilita One';
            background: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: black;
            padding: 0;

            @media only screen and (min-width: v.$lg) {
                font-size: 1.25rem;
            }

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55), -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
            }
    
            &:not(:hover) {
                transform: scale(1);
                -webkit-transform: scale(1);
                -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
                transition: transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55), -webkit-transform 0.35s cubic-bezier(0.68,-0.55,0.27,1.55);
            }
        }
    }
}


// Hamburgermenu toggle

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
    transform: scale(0.6);

    @media only screen and (min-width: v.$lg) {
        display: none;
    }
}
  
.hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
.hamburger span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
.hamburger span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
  
.hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
  
.hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
  
.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}


.breakline {
    position: relative;
    width: 80vw;
    align-self: center;
    overflow: hidden;
    height: 50px;

    svg {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0, -50%) scale(2);
        transform-origin: 0 50%;
        animation: 2s breaklineSlide infinite linear;
    }

    @media only screen and (min-width: v.$lg) {
        width: 45%;
    }

    &--full {
        width: 100%;
        
        svg {
            transform: translate(0, -50%) scale(2);
            animation: 2.2s breaklineSlideFull infinite linear;
        }
    }
    
}