@use "./variables.scss" as v;

.bloem-block {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 100px 0;
    

    &__container {
        position: relative;
        width: 1500px;
        max-width: 95%;
        height: 100%;
        margin-right: -20%;
        margin-top: 39px; //Navbar half height

        @media only screen and (min-width: v.$lg) {
            margin-right: -10%;
        }

        @media only screen and (min-width: v.$xxl) {
            margin-right: -5%;
        }
    }

    &__bloemcontainer {
        position: absolute;
        top: 68%;
        left: -10%;
        transform: translate(0%, -50%);
        width: 80vw;
        height: 80vw;
        max-width: 90vh;
        max-height: 90vh;
        margin-left: calc((1.2vw + 2.4vh)*-1);

        @media only screen and (min-width: v.$lg) {
            width: 50vw;
            height: 50vw;
            top: 50%;
            left: 0%;
        }

        @media only screen and (min-width: v.$xxl) {
            width: 90vw;
            height: 90vw;
        }

        &__bloem {
            z-index: -1;
            transform: scale(0);
        }

        &__bloemkern {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin-top: 1vw;
            background-image: url(/assets/bloemkern.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 22vw;
            z-index: 1;
            transform: scale(1);

            @media only screen and (min-width: v.$lg) {
                background-size: 10vw;
            }

            @media only screen and (min-width: v.$xxl) {
                background-size: 20vh;
            }
        }
    }


    &__textcontainer {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        margin-right: 8%;


        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        font-family: 'Lilita One';
        font-size: 14vw;
        text-transform: uppercase;
        line-height: 100%;

        @media only screen and (min-width: v.$md) {
            top: -10%;
        }

        @media only screen and (min-width: v.$lg) {
            margin-right: 10%;
            font-size: calc(2.5vw + 5vh);
            width: fit-content;
        }

        @media only screen and (min-width: v.$xxl) {
            margin-right: 5%;
        }

        &--spanletter {
            color: v.$yellow;
            line-height: 100%;
            font-size: 0px;
        }

        &--span1 {
            margin-left: 15px;

            @media only screen and (min-width: v.$lg) {
                margin-left: 0px;
            }
        }

        &--span2, &--span3 {
            margin-left: 10vw;

            @media only screen and (min-width: v.$lg) {
                margin-left: calc(3.1vw + 6.2vh);
            }
        }

        &--span4 {
            margin-left: 40vw;
            margin-right: 15px;
            text-align: end;

            @media only screen and (min-width: v.$md) {
                margin-right: 30px;
            }
            
            @media only screen and (min-width: v.$lg) {
                margin-left: calc(6.375vw + 12.75vh);
                margin-right: 15px;
                text-align: start;
            }
        }
    }
}