@use "./variables.scss" as v;

.button--green {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="%2300BF72" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: all .3s ease-out;

    &:hover {
        background-size: 120%;
        color: white;
    }

    @media only screen and (min-width: v.$lg) {
        font-size: 24px;
    }
}

.button--red {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="%23FF445C" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: all .3s ease-out;

    &:hover {
        background-size: 120%;
        color: white;
    }

    @media only screen and (min-width: v.$lg) {
        font-size: 24px;
    }
}

.button--blue {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="%230078D7" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: all .3s ease-out;

    &:hover {
        background-size: 120%;
        color: white;
    }

    @media only screen and (min-width: v.$lg) {
        font-size: 24px;
    }
}

.button--green--outline {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    border: solid 2px black;
    border-radius: 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="%2300BF72" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: all .3s ease-out;

    &:hover {
        background-size: 120%;
        color: white;
        border: solid 2px v.$green;
    }

    @media only screen and (min-width: v.$lg) {
        font-size: 24px;
    }
}

.button--red--outline {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    border: solid 2px black;
    border-radius: 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="%23FF445C" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: all .3s ease-out;

    &:hover {
        background-size: 120%;
        color: white;
        border: solid 2px v.$red;
    }

    @media only screen and (min-width: v.$lg) {
        font-size: 24px;
    }
}

.button--blue--outline {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    border: solid 2px black;
    border-radius: 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="%230078D7" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: all .3s ease-out;

    &:hover {
        background-size: 120%;
        color: white;
        border: solid 2px v.$blue;
    }

    @media only screen and (min-width: v.$lg) {
        font-size: 24px;
    }
}