@use "./variables.scss" as v;

@keyframes breaklineSlide {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(-28.4%);
    }
}

.casestudypage {
    background-image: url('/assets/yellow_noise.jpg');

    .backbutton {
        position: relative;
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        width: fit-content;
        margin-bottom: 5px;

        @media only screen and (min-width: v.$lg) {
            margin-bottom: 0;
        }
    
        p {
            font-family: 'Poppins-Semibold';
            font-size: 1.25rem;
            margin-left: 35px;

            @media only screen and (min-width: v.$lg) {
                font-size: 1.5rem;
            }
        }
    
        svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(90deg) scale(0.8);
            transition: all .3s ease-in-out;

            @media only screen and (min-width: v.$lg) {
                transform: translateY(-50%) rotate(90deg) scale(1);
            }
        }
    
        &:hover {
    
            svg {
                margin-left: -10px;
            }
        }
    }
    
    .infocontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 80px;
        margin-bottom: 80px;

        @media only screen and (min-width: v.$lg) {
            flex-direction: row;
            gap: 100px;
            margin-bottom: 160px;
        }

        &__container {
            flex: 1;
            font-size: 1rem;

            @media only screen and (min-width: v.$lg) {
                font-size: 1.25rem;
            }
        }

        &__title {
            font-family: 'Lilita One';
            font-size: 4rem;
            margin-bottom: 30px;

            @media only screen and (min-width: v.$lg) {
                font-size: 7.35rem;
                margin-bottom: 50px;
            }
        }

        &__div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media only screen and (min-width: v.$lg) {
                gap: 40px;
            }
        }

        &__detailcontainer {
            display: flex;
            justify-content: space-between;
            gap: 40px;


            &__detail {
                flex: 1;

                h3 {
                    font-family: 'Lilita One';
                    font-size: 1.5rem;
                    margin-bottom: 10px;

                    @media only screen and (min-width: v.$lg) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .contentcontainer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 80px 0 140px 0;

        @media only screen and (min-width: v.$lg) {
            margin: 120px 0 200px 0;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__image {
            flex: 1;
            min-width: 40%;

            img {
                width: 100%;
                height: calc(100vw - (v.$margin-mobile * 2));
                object-fit: cover;

                @media only screen and (min-width: v.$lg) {
                    height: calc((100vw - (v.$margin-desktop * 3)) / 2);
                }
            }
        }

        &__text {
            padding: 0;
            margin: 20px 0;
            font-size: 1rem;

            @media only screen and (min-width: v.$lg) {
                font-size: 1.25rem;
                padding: 0 35% 0 0;
                margin: 50px 0;
            }

            h3 {
                font-family: 'Lilita One';
                font-size: 1.5rem;
                margin-bottom: 5px;

                @media only screen and (min-width: v.$lg) {
                    font-size: 2rem;
                }
            }
        }
    }
}

