@use "./variables.scss" as v;

.casepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .splide__track {
        margin: 0 v.$margin-desktop 20px;
        overflow: visible;
    }

    &__casecontainer {
        display: flex;
        gap: 20px;
        height: 75vh;

        &__case {
            a {
                color: black;
                text-decoration: none;
            }

            &--large {
                width: 100vh !important;

                div img {
                    width: 100vh;
                }
            }

            &--medium {
                width: 70vh !important;

                div img {
                    width: 70vh;
                }
            }

            &--small {
                width: 50vh !important;

                div img {
                    width: 50vh;
                }
            }
            

            &:hover {
                cursor: pointer;
                img {
                    transform: scale(1.05);
                }
            }

            &__imagemask {

                overflow: hidden;
                border-radius: 16px;
            }

            &__img {
                height: 70vh;
                object-fit: cover;
                border-radius: 16px;
                transition: all .2s linear;
            }

            &__bottomcontainer {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                font-size: 16px;
                
                
                @media only screen and (min-width: v.$md) {
                    font-size: 24px;
                }

                @media only screen and (min-width: v.$lg) {
                    flex-direction: row;
                    gap: 15px;
                    font-size: 16px;
                }
            }

            &__title {
                font-family: 'Poppins-Semibold';
                white-space: nowrap;
            }

            &__tags {
                font-family: 'Poppins-Regular';
            }
        }
    }
}