@use "./variables.scss" as v;

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.diensten-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px v.$margin-desktop 160px v.$margin-desktop;
    background-image: url('/assets/yellow_noise.jpg');

    &__title {
        font-family: 'Lilita One';
        font-size: 2.75rem;
        margin-bottom: 80px;

        @media only screen and (min-width: v.$lg) {
            font-size: 4rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: v.$lg) {
            flex-direction: row;
            gap: 150px;
        }

        &__dienst {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            margin-bottom: 65px;

            &__imagecontainer {
                position: relative;
                width: 270px;
                height: 270px;
                display: flex;
                justify-content: center;
                align-items: center;

                &__illustration {
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 180px;
                        object-fit: contain;
                        z-index: 10;
                        transition: all .2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            width: 200px;
                        }
                    }

                    &:hover + * {
                        transform: scale(2);
                    }
                }

                &__circle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    animation: spin 20s infinite linear;
                    z-index: 5;
                }

                &__blob1, &__blob2 {
                    border-radius: 100%;
                    width: 140px;
                    height: 140px;
                    transition: all .2s ease-in-out;
                }

                &__blob1 {
                    background-color: v.$green;
                }

                &__blob2 {
                    background-color: v.$red;
                }
            }

            &__title {
                font-family: 'Lilita One';
                font-size: 1.75rem;
                text-align: center;
                margin-top: 20px;

                @media only screen and (min-width: v.$md) {
                    font-size: 2rem;
                }
            }
        }
    }

    &__blaadje {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 22vw;
        margin: 3.5vw 0 0 -8vw;
        z-index: 0;

        @media only screen and (min-width: v.$lg) {
            display: block;
        }
    }
}