@use "./variables.scss" as v;

// Letter bounce animation
@keyframes bounceOn {
    0% { transform: scale(1, 1); }
    33% { transform: scale(0.75, 1.25); }
    66% { transform: scale(0.85, 1.15); }
    100% { transform: scale(0.8, 1.2); }
}

@keyframes bounceOff {
    0% { transform: scale(0.8, 1.2); }
    33% { transform: scale(1.05, 0.95); }
    66% { transform: scale(0.95, 1.05); }
    100% { transform: scale(1, 1); }
}

// Scrolldown floating animation 
@keyframes float {
    0% { transform: translateY(0) translateX(-50%); }
    50% { transform: translateY(-20px) translateX(-50%); }
    100% { transform: translateY(0) translateX(-50%); }
}

.herocontainer {
    position: relative;
    width: 100%;
    margin-top: 115px;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    @media only screen and (min-width: v.$lg) {
        margin-top: 150px;
        height: 44vw;
    }

    &__text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
        font-family: 'Poppins-Black';
        margin: 0px;
        z-index: 10;

        @media only screen and (min-width: v.$lg) {
            top: 0;
            transform: translateX(-50%);
        }

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */


        span {
            display: inline-block;
            margin: 0 -1.5vw;

            &:hover {
                animation: bounceOn 0.5s forwards;
            }
    
            &:not(:hover) {
                animation: bounceOff 0.5s forwards;
            }
        }
    }

    &__bottomcontainer {
        position: relative;
        width: 100%;
        margin: 0 v.$margin-mobile 30px v.$margin-mobile;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @media only screen and (min-width: v.$lg) {
            margin: 0 v.$margin-desktop 45px v.$margin-desktop;
        }

        &__socials {
            display: flex;
            gap: 5px;
            font-family: 'Poppins-Bold';
            font-size: 32px;
            line-height: 10px;

            div {
                display: flex;
                gap: 15px;

                a svg {
                    width: 34px;
                    height: 34px;
                }
            }
        }

        &__scrolldown {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: column;
            align-items: center;
            animation: float 3s ease-in-out infinite;
            display: none;

            @media only screen and (min-width: v.$lg) {
                display: flex;
            }

            &__text {
                font-family: 'Poppins-Semibold';
                font-size: 16px;
            }

            svg {
                margin-top: -10px;
            }
        }
    }

    &__flower {
        position: absolute;
        top: 0;
        left: 0;
        width: 90vw;
        margin: 72vw 0 0 -48vw;
        -webkit-transform: scaleX(-1) rotate(55deg);
        transform: scaleX(-1) rotate(55deg);
        z-index: 0;

        @media only screen and (min-width: v.$lg) {
            width: 45vw;
            margin: 14vw 0 0 -16vw;
        }
    }

    &__blaadje {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 55vw;
        margin: 0 -15vw -5vw 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        z-index: 0;

        @media only screen and (min-width: v.$lg) {
            width: 22vw;
            margin: 0 -6.5vw -2vw 0;
        }
    }
}