@use "./variables.scss" as v;

@keyframes titleEnter {
    from {
        transform: translateY(105%);
        opacity: 0;
    } 
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.herocontainer {
    position: relative;
    width: 100%;
    // margin-top: 90px;
    height: calc(100vh - 90px);
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    @media only screen and (min-width: v.$lg) {
        // margin-top: 90px;
        height: calc(100vh);
    }

    &__titlecontainer {
        position: relative;
        width: 100%;
        margin: 0 v.$margin-mobile;

        @media only screen and (min-width:v.$lg){
            margin: 0 v.$margin-desktop;
        }

        &__subtitle {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 250px;
            margin-bottom: 10px;

            @media only screen and (min-width:v.$lg){
                width: 280px;
                margin-bottom: 0;
            }

            h2 {
                font-family: 'Poppins-Semibold';
                font-size: 1.75rem;
                text-wrap: nowrap;
                overflow: hidden;

                @media only screen and (min-width:v.$lg){
                    font-size: 2.25rem;
                }

                span {
                    display: inline-block;
                    padding: 7px 20px;
                    border-radius: 100px;
                    opacity: 0;
                    transform: translateY(105%);
                    animation: titleEnter .5s ease-in-out forwards;
                    animation-delay: .55s;
                }

                &:nth-child(1) {
                    span {
                        background-color: v.$red;
                    }
                }
            
                &:nth-child(2) {
                    span {
                        background-color: v.$blue;
                    }
                }
            
                &:nth-child(3) {
                    span {
                        background-color: v.$green;
                    }
                }
            }
        }

        .titlewrapper {
            animation: titleEnter .7s ease-in-out forwards;
        }

        &__title {
            position: relative;
            font-family: 'Poppins-Black';
            font-size: 33vw;
            text-transform: uppercase;
            line-height: 85%;
            width: 100vw;
            margin-left: -5px;

            @media only screen and (min-width:v.$md){
                font-size: 33vw;
                margin-left: -10px;
            }
            
            @media only screen and (min-width:v.$lg){
                font-size: 17vw;
                margin-left: -15px;
            }

            span {
                display: none;
                @media only screen and (min-width:v.$md){
                    display: inline-block;
                }
            }
        }

        &__socials {
            display: none;
            position: absolute;
            bottom: 20px;
            right: calc(v.$margin-mobile * 1.8);
    
            gap: 5px;
            font-family: 'Poppins-Semibold';
            font-size: 2rem;
            line-height: 10px;
            z-index: 10;
            transition: all .8s ease-in-out;

            @media only screen and (min-width:v.$md){
                display: flex;
            }
    
            @media only screen and (min-width:v.$lg){
                right: calc(v.$margin-desktop * 1.8);
            }
    
            div {
                display: flex;
                gap: 15px;
    
                a svg {
                    width: 25px;
                    height: 25px;
                    transition: all .15s ease-out;
    
                    @media only screen and (min-width:v.$md){
                        width: 40px;
                        height: 40px;
                    }
    
                    @media only screen and (min-width:v.$lg){
                        width: 34px;
                        height: 34px;
                    }
    
                    &:hover {
                        margin-top: -3px;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}


.items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;

    img {
        position: absolute;
        width: 280px;
        height: 280px;
        object-fit: cover;
        border-radius: 16px;
        pointer-events: none;
    }
}