@font-face {
  font-family: "Lilita One";
  src: url(/assets/fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(/assets/fonts/Poppins/Poppins-Semibold.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Black";
  src: url(/assets/fonts/Poppins/Poppins-Black.ttf);
}
.aboutpage {
  background-image: url("/assets/yellow_noise.jpg");
}
.aboutpage__title {
  font-family: "Lilita One";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .aboutpage__title {
    font-size: 7.38rem;
  }
}
.aboutpage__summary {
  font-family: "Poppins-Bold";
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .aboutpage__summary {
    padding: 0 20%;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .aboutpage__summary {
    font-size: 1.5rem;
    padding: 0 27.5%;
  }
}
.aboutpage__infocontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 60px 0;
}
@media only screen and (min-width: 992px) {
  .aboutpage__infocontainer {
    flex-direction: row;
    gap: 100px;
    margin: 160px 0;
  }
}
.aboutpage__infocontainer svg {
  width: 100%;
  height: 22vw;
  margin-top: -7.4vw;
  margin-left: 15vw;
  margin-bottom: -5vw;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .aboutpage__infocontainer svg {
    margin-bottom: -3.8vw;
  }
}
.aboutpage__infocontainer__imagecontainer {
  flex: 1;
}
.aboutpage__infocontainer__imagecontainer__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
}
.aboutpage__infocontainer__textcontainer {
  flex: 1;
}
.aboutpage__infocontainer__textcontainer__title {
  white-space: nowrap;
  font-family: "Lilita One";
  font-size: 5.25rem;
  margin: 0px;
  z-index: 10;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.aboutpage__infocontainer__textcontainer__title span {
  display: inline-block;
  margin: 0 -7px;
}
.aboutpage__infocontainer__textcontainer__title span:hover {
  animation: bounceOn 0.5s forwards;
}
.aboutpage__infocontainer__textcontainer__title span:not(:hover) {
  animation: bounceOff 0.5s forwards;
}
@media only screen and (min-width: 992px) {
  .aboutpage__infocontainer__textcontainer__title {
    font-size: 10rem;
  }
  .aboutpage__infocontainer__textcontainer__title span {
    margin: 0 -15px;
  }
}
.aboutpage__infocontainer__textcontainer__text {
  font-family: "Poppins-Regular";
  font-size: 1rem;
  margin-bottom: 40px;
}
.aboutpage__infocontainer__textcontainer__text--bold {
  font-family: "Poppins-Semibold";
}
@media only screen and (min-width: 992px) {
  .aboutpage__infocontainer__textcontainer__text {
    font-size: 1.25rem;
  }
}