@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(/assets/fonts/Poppins/Poppins-Semibold.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Black";
  src: url(/assets/fonts/Poppins/Poppins-Black.ttf);
}
.aboutpage {
  position: relative;
  background-image: url("/assets/yellow_noise.jpg");
}
.aboutpage__title {
  font-family: "Lilita One";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .aboutpage__title {
    font-size: 7.38rem;
  }
}
.aboutpage__summary {
  font-family: "Poppins-Semibold";
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .aboutpage__summary {
    padding: 0 20%;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .aboutpage__summary {
    font-size: 1.5rem;
    padding: 0 27.5%;
  }
}
.aboutpage__infocontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}
@media only screen and (min-width: 992px) {
  .aboutpage__infocontainer {
    flex-direction: row;
    gap: 100px;
    margin-top: 140px;
  }
}
.aboutpage__infocontainer svg {
  width: 100%;
  height: 22vw;
  margin-top: -7.4vw;
  margin-left: 15vw;
  margin-bottom: -5vw;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .aboutpage__infocontainer svg {
    margin-bottom: -3.8vw;
  }
}
.aboutpage__infocontainer__imagecontainer {
  flex: 1;
}
.aboutpage__infocontainer__imagecontainer__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
}
.aboutpage__infocontainer__textcontainer {
  flex: 1;
}
.aboutpage__infocontainer__textcontainer__title {
  white-space: nowrap;
  font-family: "Lilita One";
  font-size: 5.25rem;
  margin: 0px;
  margin-left: 7px;
  z-index: 10;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.aboutpage__infocontainer__textcontainer__title span {
  display: inline-block;
  margin: 0 -7px;
}
.aboutpage__infocontainer__textcontainer__title span:hover {
  animation: bounceOn 0.5s forwards;
}
.aboutpage__infocontainer__textcontainer__title span:not(:hover) {
  animation: bounceOff 0.5s forwards;
}
@media only screen and (min-width: 768px) {
  .aboutpage__infocontainer__textcontainer__title {
    font-size: 10rem;
  }
  .aboutpage__infocontainer__textcontainer__title span {
    margin: 0 -15px;
  }
}
.aboutpage__infocontainer__textcontainer__text {
  font-family: "Poppins-Regular";
  font-size: 1rem;
  margin-bottom: 40px;
}
.aboutpage__infocontainer__textcontainer__text--bold {
  font-family: "Poppins-Semibold";
}
@media only screen and (min-width: 768px) {
  .aboutpage__infocontainer__textcontainer__text {
    font-size: 1.25rem;
  }
}
.aboutpage .careercontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 150px;
}
@media only screen and (min-width: 768px) {
  .aboutpage .careercontainer {
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .aboutpage .careercontainer {
    flex-direction: row;
    gap: 100px;
    margin-bottom: 250px;
  }
}
.aboutpage .careercontainer__column {
  flex: 1;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .aboutpage .careercontainer__column {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .aboutpage .careercontainer__column {
    margin-top: 120px;
  }
}
.aboutpage .careercontainer__title {
  font-family: "Lilita One";
  font-size: 4rem;
  margin: 40px 0;
}
@media only screen and (min-width: 768px) {
  .aboutpage .careercontainer__title {
    font-size: 7.2rem;
  }
}
.aboutpage .careercontainer__blockcontainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aboutpage .careercontainer__block__title {
  font-family: "Poppins-Semibold";
  font-size: 1rem;
  margin-bottom: 5px;
  width: 80%;
  text-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .aboutpage .careercontainer__block__title {
    font-size: 1.25rem;
  }
}
.aboutpage .careercontainer__block__detailcontainer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .aboutpage .careercontainer__block__detailcontainer {
    font-size: 1.25rem;
  }
}
.aboutpage .careercontainer__block__detailcontainer p:first-child {
  width: 70%;
}
.aboutpage .careercontainer__block__detailcontainer p:last-child {
  text-align: end;
}
.aboutpage__blaadje {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .aboutpage__blaadje {
    display: block;
    width: 35vw;
    margin: 16vw 0 0 -14vw;
  }
}
@media only screen and (min-width: 992px) {
  .aboutpage__blaadje {
    width: 22vw;
    margin: 12vw 0 0 -8vw;
  }
}
.aboutpage__blaadje2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  margin: 14vw -8vw 0 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .aboutpage__blaadje2 {
    width: 30vw;
    margin: 14vw -10vw 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .aboutpage__blaadje2 {
    width: 22vw;
    margin: 10vw -7vw 0 0;
  }
}