@font-face {
  font-family: "Lilita One";
  src: url(../assets/fonts/Lilita_One/LilitaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Black";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
@keyframes breaklineSlide {
  from {
    transform: translate(0, -50%) scale(2);
  }
  to {
    transform: translate(-28.7%, -50%) scale(2);
  }
}
@keyframes breaklineSlideFull {
  from {
    transform: translate(0, -50%) scale(2);
  }
  to {
    transform: translate(-33.5%, -50%) scale(2);
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateLong {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes curtainOpen {
  to {
    margin-left: 100%;
  }
}
@keyframes curtainOpenLong-lg {
  0% {
    margin-left: 100%;
  }
  50% {
    margin-left: -80%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes curtainOpenLong-md {
  0% {
    margin-left: 100%;
  }
  50% {
    margin-left: -140%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes curtainOpenLong-sm {
  0% {
    margin-left: 100%;
  }
  50% {
    margin-left: -200%;
  }
  100% {
    margin-left: 100%;
  }
}
* {
  font-synthesis: none;
}

html {
  font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  overflow: hidden;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  padding: 160px 15px 0;
}
.maincontainer--home {
  padding: 0 15px;
}
@media only screen and (min-width: 992px) {
  .maincontainer {
    padding: 200px 40px 0;
  }
  .maincontainer--home {
    padding: 0 40px;
  }
}

.loaderscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10000;
}

.curtain__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  margin-left: -200%;
  height: 100%;
  background-color: #FFD12D;
  z-index: 20000;
  overflow: hidden;
  border-radius: 100vw 0 0 100vw;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .curtain__container {
    width: 240%;
    margin-left: -140%;
  }
}
@media only screen and (min-width: 992px) {
  .curtain__container {
    width: 180%;
    margin-left: -80%;
  }
}
.curtain__container__logo {
  height: 95vh;
  margin-left: 5vh;
}
.navbar__carousel {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25px;
  display: flex;
  z-index: 100;
  animation: 15s slide infinite linear;
  font-size: 0.94rem;
}
.navbar__carousel__section {
  min-width: 380px;
  width: 33.3333vw;
  margin: 0;
  padding: 2px;
  text-align: center;
  font-family: "Poppins-Semibold";
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
.navbar__carousel__section--blue {
  background-color: #0078D7;
}
.navbar__carousel__section--red {
  background-color: #FF445C;
}
.navbar__carousel__section--green {
  background-color: #00BF72;
}
.navbar__mobilemenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/yellow_noise.jpg");
  z-index: 50;
  padding: 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .navbar__mobilemenu {
    display: none;
  }
}
.navbar__mobilemenu div {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .navbar__mobilemenu div {
    gap: 25px;
  }
}
.navbar__mobilemenu div a svg {
  width: 34px;
  height: 34px;
  transition: all 0.15s ease-out;
}
@media only screen and (min-width: 768px) {
  .navbar__mobilemenu div a svg {
    width: 40px;
    height: 40px;
  }
}
.navbar__mobilemenu div a svg:hover {
  margin-top: -3px;
  margin-bottom: 3px;
}
.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFD12D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  margin-top: 25px;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 992px) {
  .navbar__container {
    margin-top: 25px;
    padding: 8px 40px;
  }
}
.navbar__container__logo {
  width: 75px;
  margin-bottom: -30px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .navbar__container__logo {
    width: 95px;
    margin-bottom: -63.5px;
  }
}
.navbar__container__logo--small {
  width: 55px;
  margin-bottom: 0px;
  transition: all 0.2s ease-in-out;
}
.navbar__buttoncontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 5px 0px;
}
@media only screen and (min-width: 992px) {
  .navbar__buttoncontainer {
    gap: 45px;
  }
}
.navbar__buttoncontainer__button {
  display: none;
  font-size: 2.25rem;
  text-decoration: none;
  color: black;
  font-family: "Lilita One";
}
@media only screen and (min-width: 768px) {
  .navbar__buttoncontainer__button {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .navbar__buttoncontainer__button {
    display: block;
    font-size: 2rem;
  }
}
.navbar__buttoncontainer__button--right:hover {
  transform: rotate(-4deg) scale(1.1);
  -webkit-transform: rotate(-4deg) scale(1.1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__buttoncontainer__button--left:hover {
  transform: rotate(4deg) scale(1.1);
  -webkit-transform: rotate(4deg) scale(1.1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__buttoncontainer__button--right:not(:hover), .navbar__buttoncontainer__button--left:not(:hover) {
  transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__langcontainer {
  display: flex;
  gap: 10px;
}
@media only screen and (min-width: 992px) {
  .navbar__langcontainer {
    flex-direction: column;
  }
}
.navbar__langcontainer * {
  font-family: "Lilita One";
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  padding: 0;
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .navbar__langcontainer * {
    font-size: 1.25rem;
  }
}
.navbar__langcontainer *:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__langcontainer *:not(:hover) {
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: block;
  transform: scale(0.6);
}
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background-color: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.breakline {
  position: relative;
  width: 80vw;
  align-self: center;
  overflow: hidden;
  height: 50px;
}
.breakline svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%) scale(2);
  transform-origin: 0 50%;
  animation: 2s breaklineSlide infinite linear;
}
@media only screen and (min-width: 992px) {
  .breakline {
    width: 45%;
  }
}
.breakline--full {
  width: 100%;
}
.breakline--full svg {
  transform: translate(0, -50%) scale(2);
  animation: 2.2s breaklineSlideFull infinite linear;
}