@font-face {
  font-family: "Barber Chop";
  src: url(../assets/fonts/barber_chop/BarberChop.otf) format("opentype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Black";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
.dienstenpage {
  position: relative;
  background-image: url("/assets/yellow_noise.jpg");
}
.dienstenpage__title {
  font-family: "Barber Chop";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .dienstenpage__title {
    font-size: 7.38rem;
  }
}
.dienstenpage__summary {
  font-family: "Poppins-Semibold";
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .dienstenpage__summary {
    padding: 0 20%;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .dienstenpage__summary {
    font-size: 1.5rem;
    padding: 0 27.5%;
  }
}
.dienstenpage .dienstencontainer {
  display: flex;
  flex-direction: column;
  margin: 80px 0 100px;
  gap: 120px;
}
@media only screen and (min-width: 768px) {
  .dienstenpage .dienstencontainer {
    margin: 120px 14% 200px;
    gap: 80px;
  }
}
@media only screen and (min-width: 992px) {
  .dienstenpage .dienstencontainer {
    margin: 120px 14%;
  }
}
.dienstenpage .dienstencontainer__dienst {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media only screen and (min-width: 992px) {
  .dienstenpage .dienstencontainer__dienst {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }
}
.dienstenpage .dienstencontainer__dienst__imagecontainer {
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}
.dienstenpage .dienstencontainer__dienst__imagecontainer__illustration {
  width: 180px;
  object-fit: contain;
  z-index: 1;
}
.dienstenpage .dienstencontainer__dienst__imagecontainer__circle {
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 20s infinite linear;
  z-index: 1;
}
.dienstenpage .dienstencontainer__dienst__imagecontainer__blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 140px;
  height: 140px;
  z-index: 0;
}
.dienstenpage .dienstencontainer__dienst__imagecontainer__blob--green {
  background-color: #00BF72;
}
.dienstenpage .dienstencontainer__dienst__imagecontainer__blob--red {
  background-color: #FF445C;
}
.dienstenpage .dienstencontainer__dienst__textcontainer {
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .dienstenpage .dienstencontainer__dienst__textcontainer {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 992px) {
  .dienstenpage .dienstencontainer__dienst__textcontainer {
    font-size: 1.25rem;
  }
}
.dienstenpage .dienstencontainer__dienst__textcontainer h3 {
  font-family: "Barber Chop";
  font-size: 1.5rem;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .dienstenpage .dienstencontainer__dienst__textcontainer h3 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 992px) {
  .dienstenpage .dienstencontainer__dienst__textcontainer h3 {
    font-size: 2rem;
  }
}
.dienstenpage .dienstencontainer__dienst__textcontainer p {
  margin-bottom: 20px;
}
.dienstenpage .cases-block {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 120px;
}
@media only screen and (min-width: 992px) {
  .dienstenpage .cases-block {
    margin-bottom: 140px;
  }
}
.dienstenpage .cases-block svg {
  width: 100%;
  height: 22vw;
  margin-top: -7.4vw;
  margin-left: -15vw;
  margin-bottom: -5vw;
  z-index: -1;
  transform: scaleX(-1);
}
@media only screen and (min-width: 992px) {
  .dienstenpage .cases-block svg {
    margin-bottom: -3.8vw;
  }
}
.dienstenpage .cases-block__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 15px 60px;
  background-color: white;
}
@media only screen and (min-width: 992px) {
  .dienstenpage .cases-block__container {
    flex-direction: row;
    gap: 100px;
    padding: 0px 40px 60px;
  }
}
.dienstenpage .cases-block__wrapper {
  position: relative;
}
.dienstenpage .cases-block__blaadje {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  margin: -15vw 0 0 -16vw;
  z-index: 0;
}
@media only screen and (min-width: 992px) {
  .dienstenpage .cases-block__blaadje {
    width: 22vw;
    margin: -6vw 0 0 -8vw;
  }
}
.dienstenpage__blaadje {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  margin: 14vw 0 0 -8vw;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .dienstenpage__blaadje {
    width: 30vw;
    margin: 14vw 0 0 -10vw;
  }
}
@media only screen and (min-width: 992px) {
  .dienstenpage__blaadje {
    width: 22vw;
    margin: 10vw 0 0 -7vw;
  }
}
.dienstenpage__flower {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  margin: -3vh -30vw 0 0;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .dienstenpage__flower {
    width: 55vw;
    margin: -12vw -26vw 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .dienstenpage__flower {
    width: 45vw;
    margin: -9vw -22vw 0 0;
  }
}