@font-face {
  font-family: "Lilita One";
  src: url(/assets/fonts/Lilita_One/LilitaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(/assets/fonts/Poppins/Poppins-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Black";
  src: url(/assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
.featured-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.featured-cases__title {
  font-family: "Lilita One";
  font-size: 2.75rem;
}
@media only screen and (min-width: 768px) {
  .featured-cases__title {
    font-size: 3.375rem;
  }
}
@media only screen and (min-width: 992px) {
  .featured-cases__title {
    font-size: 4rem;
  }
}
.featured-cases__casecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 30px 0;
}
@media only screen and (min-width: 768px) {
  .featured-cases__casecontainer {
    gap: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .featured-cases__casecontainer {
    flex-direction: row;
    gap: 15px;
    margin: 50px 0;
    padding: 0;
  }
}
.featured-cases__casecontainer__case {
  flex: 1;
  color: black;
  text-decoration: none;
}
.featured-cases__casecontainer__case:hover {
  cursor: pointer;
}
.featured-cases__casecontainer__case:hover img {
  transform: scale(1.05);
}
.featured-cases__casecontainer__case__imagemask {
  overflow: hidden;
  border-radius: 16px;
}
.featured-cases__casecontainer__case__img {
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.2s linear;
}
@media only screen and (min-width: 768px) {
  .featured-cases__casecontainer__case__img {
    aspect-ratio: 3/2;
  }
}
@media only screen and (min-width: 992px) {
  .featured-cases__casecontainer__case__img {
    aspect-ratio: 4/5;
  }
}
.featured-cases__casecontainer__case__bottomcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .featured-cases__casecontainer__case__bottomcontainer {
    flex-direction: row;
    gap: 10px;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 992px) {
  .featured-cases__casecontainer__case__bottomcontainer {
    font-size: 1rem;
  }
}
.featured-cases__casecontainer__case__title {
  font-family: "Poppins-Semibold";
  white-space: nowrap;
}
.featured-cases__casecontainer__case__tags {
  font-family: "Poppins-Regular";
}