@font-face {
  font-family: "Lilita One";
  src: url(/assets/fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(/assets/fonts/Poppins/Poppins-Semibold.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Black";
  src: url(/assets/fonts/Poppins/Poppins-Black.ttf);
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 15px 0px;
}
@media only screen and (min-width: 992px) {
  .footer {
    padding: 80px 40px 0px;
  }
}
.footer--white {
  background-color: white;
}
.footer--yellow {
  background-color: #FFD12D;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .footer__container {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.footer__container__column {
  flex: 1;
}
@media only screen and (min-width: 992px) {
  .footer__container__column {
    padding-right: 17%;
  }
}
.footer__container__column__title {
  font-family: "Poppins-Bold";
  font-size: 18px;
  padding-right: 40%;
  text-wrap: wrap;
}
@media only screen and (min-width: 992px) {
  .footer__container__column__title {
    font-size: 24px;
    padding-right: 0%;
  }
}
.footer__container__column__text {
  font-family: "Poppins-Regular";
  font-size: 16px;
}
.footer__container__column__text--first {
  padding-right: 20%;
}
@media only screen and (min-width: 992px) {
  .footer__container__column__text {
    font-size: 20px;
  }
  .footer__container__column__text--first {
    padding-right: 0%;
  }
}
.footer__container__column div {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footer__container__column div a svg {
  width: 34px;
  height: 34px;
  transition: all 0.15s ease-out;
}
.footer__container__column div a svg:hover {
  margin-top: -3px;
  margin-bottom: 3px;
}
.footer__email {
  font-family: "Lilita One";
  font-size: 14.5vw;
  line-height: 65%;
  display: flex;
  flex-direction: column;
}
.footer__email span {
  font-size: 7vw;
}
@media only screen and (min-width: 992px) {
  .footer__email {
    font-size: 9vw;
    display: block;
    line-height: 100%;
  }
}
.footer__blaadje {
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  margin: -25vw -15vw 0 0;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .footer__blaadje {
    width: 42vw;
    margin: -18vw -14vw 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer__blaadje {
    width: 22vw;
    margin: -9.5vw -7vw 0 0;
  }
}