@font-face {
  font-family: "Lilita One";
  src: url(/assets/fonts/Lilita_One/LilitaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(/assets/fonts/Poppins/Poppins-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Black";
  src: url(/assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
.intro-block {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.intro-block svg {
  width: 100%;
  height: 22vw;
  margin-top: -7.4vw;
  margin-left: 15vw;
  margin-bottom: -5vw;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .intro-block svg {
    margin-bottom: -3.8vw;
  }
}
.intro-block__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 15px;
  background-image: url("/assets/yellow_noise.jpg");
}
@media only screen and (min-width: 992px) {
  .intro-block__container {
    flex-direction: row;
    gap: 100px;
    padding: 60px 40px;
  }
}
.intro-block__imagecontainer {
  flex: 1;
}
.intro-block__imagecontainer__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
}
.intro-block__textcontainer {
  flex: 1;
}
.intro-block__textcontainer__title {
  white-space: nowrap;
  font-family: "Lilita One";
  font-size: 5.25rem;
  margin: 0px;
  z-index: 10;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.intro-block__textcontainer__title span {
  display: inline-block;
  margin: 0 -7px;
}
.intro-block__textcontainer__title span:hover {
  animation: bounceOn 0.5s forwards;
}
.intro-block__textcontainer__title span:not(:hover) {
  animation: bounceOff 0.5s forwards;
}
@media only screen and (min-width: 992px) {
  .intro-block__textcontainer__title {
    font-size: 10rem;
  }
  .intro-block__textcontainer__title span {
    margin: 0 -15px;
  }
}
.intro-block__textcontainer__text {
  font-family: "Poppins-Semibold";
  font-size: 1.125rem;
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .intro-block__textcontainer__text {
    font-size: 1.5rem;
  }
}