html {
  font-family: "Barber Chop", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.maincontainer {
  margin: 0 40px 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.navbar__carousel {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25px;
  display: flex;
  z-index: 10;
  animation: 15s slide infinite linear;
  font-size: 15px;
}
.navbar__carousel__section {
  width: 33.3333vw;
  margin: 0;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 7.5px;
}
.navbar__carousel__section--blue {
  background-color: #0078D7;
}
.navbar__carousel__section--red {
  background-color: #FF445C;
}
.navbar__carousel__section--green {
  background-color: #00BF72;
}
.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFD12D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  margin-top: 25px;
  padding: 8px 40px 8px 40px;
  transition: all 0.2s ease-in-out;
}
.navbar__container__logo {
  width: 95px;
  margin-bottom: -63.5px;
  transition: all 0.2s ease-in-out;
}
.navbar__container__logo--small {
  width: 55px;
  margin-bottom: 0px;
  transition: all 0.2s ease-in-out;
}
.navbar__buttoncontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
  padding: 5px 0px;
}
.navbar__buttoncontainer__button {
  font-size: 32px;
  text-decoration: none;
  color: black;
  font-family: "Barber Chop";
}
.navbar__buttoncontainer__button--right:hover {
  transform: rotate(-4deg) scale(1.1);
  -webkit-transform: rotate(-4deg) scale(1.1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__buttoncontainer__button--left:hover {
  transform: rotate(4deg) scale(1.1);
  -webkit-transform: rotate(4deg) scale(1.1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__buttoncontainer__button--right:not(:hover), .navbar__buttoncontainer__button--left:not(:hover) {
  transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__langcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navbar__langcontainer__button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.navbar__langcontainer__button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbar__langcontainer__button:not(:hover) {
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}